@charset "utf-8";

//========================================
//
// Variable
//
//========================================

$wrapWidth: 960px;

$bgMainC: #222;
$bgSubC: #982929;

$txtMainC: #fff;
$txtSubC: #B63F3F;


$small: "only screen and (max-width:520px)";
// $middle: "only screen and (max-width:1050px)";
// $both: "only screen and (max-width:1010px)";
// $large:  "only screen and (min-width:1010px)";
