@charset "utf-8";

//========================================
//
// Init
//
//========================================

html {
	font-size: 62.5%;
	font-family: 'Verdana',"游ゴシック", w"YuGothic", sans-serif;
	-webkit-text-size-adjust: 100%;
	// font-family: 'Osaka-mono', 'MS Gothic', monospace;
}

body {
	background: $bgMainC;
	color: $txtMainC;
}

input, textarea, select, label {
	outline: none;
	 -webkit-appearance:none;
	 -moz-appearance:none;
	 appearance:none;
	color: #666;
}

a {
	text-decoration: none;
	color: $txtSubC;
}
