.JS_timeline {
	width: 620px;
	height: 360px;
	overflow: hidden;
	margin: 40px auto;
	position: relative;
	background: url('/img/timelinr_dot.gif') 523px top repeat-y;
	@media #{$small} {
		width: 320px;
		background: url('/img/timelinr_dot.gif') 261px top repeat-y;
		background-size: 2px;
		height: 450px;
	}
}

.timeline_dates {
	width: 100px;
	height: 360px;
	overflow: hidden;
	float: right;
	@media #{$small} {
		width: 60px;
		height: 450px;
	}
	li {
		list-style: none;
		width: 100px;
		height: 70px;
		line-height: 70px;
		font-size: 2rem;
		padding-left: 10px;
		background: url('/img/timelinr_biggerdot.png') left center no-repeat;
		@media #{$small} {
			width: 60px;
			font-size: 1.2rem;
			background: url('/img/timelinr_biggerdot.png') left center no-repeat;
			background-size: 4px;
		}
	}
	a {
		line-height: 38px;
		padding-bottom: 10px;
		color: #612E2E;
	}
	.selected {
		font-size: 1.6em;
		color: $txtSubC;
	}
}

.timeline_issues {
	width: 500px;
	height: 360px;
	overflow: hidden;
	float: left;
	@media #{$small} {
		width: 240px;
		height: 450px;
	}
	li {
		width: 500px;
		height: 360px;
		list-style: none;
		@media #{$small} {
			width: 240px;
			height: 450px;
		}
	}
	&_ttl {
		text-align: center;
		font-size: 5rem;
		@media #{$small} {
			font-size: 3.6rem;
		}
	}
	&_body {
		margin: 50px 0 0;
		line-height: 1.8;
		@media #{$small} {
			margin-top: 30px;
			font-size: 1.2rem;
		}
		p+p {
			margin-top: 0.6em;
		}
	}
}

.grad_top, .grad_bottom {
  width: 100px;
  height: 70px;
  position: absolute;
  right: 0;
  @media #{$small} {
		width: 60px;
	}
}

.grad_top {
  top: 0;
  background: url('/img/timelinr_grad_top.png') repeat-x;
}

.grad_bottom {
  bottom: 0;
  background: url('/img/timelinr_grad_bottom.png') repeat-x;
}
